{{ define "body" }}

<!--<div class="">

  <div class="background">
  
    <div class="relative isolate overflow-hidden pt-14">
      <img 
      src=
      "/pic/power.webp" 
      alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        Announcement 
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-lg leading-6 background-color ring-1 ring-white/10 hover:ring-white/20">
            Launching first event on October 16! 
          </div> 
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight background-color sm:text-6xl">Bento Fight</h1>
          <p class="mt-6 text-lg leading-8 background-color">A global, free-to-play combat robot fight tournament controlled from your couch</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="https://lu.ma/user/thomasthemaker" target="_blank" class="rounded-md accent-color px-3.5 py-2.5 text-lg font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Sign up</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>
</div>-->

<div class="overflow-hidden background py-12 sm:py-32">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">BentoBot</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Hi Stranger, I'm Bento!</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            Designed for <strong><em>Combat</em></strong>, Bento can be controlled by anyone, from anywhere. 
          </p>
          <!--<div class="mt-10 flex items-center gap-x-6">
            <a href="/bot" class="relative inline-flex items-center gap-x-1.5 rounded-md accent-color px-3 py-2 text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">That's cute!</span></a>        
          </div>-->
        </div>
      </div>
      <div class="sm:px-6 lg:px-0 p-6">
        <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="/pic/bento-headshot.jpg">
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden background py-12 sm:py-32 bg-red-50">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">

      <div class="sm:px-6 lg:px-0 p-6">
        <video class="aspect-video rounded-xl bg-gray-50 object-cover" autoplay loop muted playsinline>
          <source src="/bentohome.mov" type="video/mp4">
        <!--<img class="aspect-video rounded-xl bg-gray-50 object-cover" src="/homepage/robot-assembly.png">-->
      </div>
      <div class="px-6 lg:px-0 lg:pl-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">The fight</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Join me at the Arena</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            A <strong><em>robot fight tournament</em></strong> between Bento bots, controlled by people from around the world.        
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="https://lu.ma/user/thomasthemaker" target="_blank" class="relative inline-flex items-center gap-x-1.5 rounded-md accent-color px-3 py-2 text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let me play<span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="overflow-hidden bg-green-50 py-12 sm:py-32">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">Accessible for all</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Controlled by anyone, from anywhere</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            We've made it easy for anyone to join the fight. All you need is a <strong><em>phone</em></strong> and an <strong><em>internet</em></strong> connection. Does not matter where you are in the world, you can join the fight!
          </p>
          </div>

          </div>
      <div class="sm:px-6 lg:px-0 p-6">
        <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="/pic/world-map.png">
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden background py-12 sm:py-32 background">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">

      <div class="sm:px-6 lg:px-0 p-6">
        <img class="aspect-video rounded-xl bg-blue-50 object-cover" src="/santiago-on-da-couch.jpg">
      </div>

      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">Get Comfy</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Chill out on the couch</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            An image of Santiago, a cool player from <strong><em>Columbia</em></strong> 🛥️
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="https://lu.ma/user/thomasthemaker" target="_blank" class="relative inline-flex items-center gap-x-1.5 rounded-md accent-color px-3 py-2 text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign up to play<span aria-hidden="true">→</span></a>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden bg-green-50 py-12 sm:py-32">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">Articles</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Curious about the robots & arenas?</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            Read more about our journey in coming up with the idea & developing the Bento fight.
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="https://thomasthemaker.substack.com" target=”_blank” class="relative inline-flex items-center gap-x-1.5 rounded-md accent-color px-3 py-2 text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Read more<span aria-hidden="true">→</span></a>        
          </div>
        </div>

      </div>
      <div class="sm:px-6 lg:px-0 p-6">
        <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="/pic/ideate.png">
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden background py-12 sm:py-32 background">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">

      <div class="sm:px-6 lg:px-0 p-6">
        <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="/homepage/discord.png">
      </div>

      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <!--<h2 class="text-base font-semibold leading-7 primary-color-text">Community</h2>-->
          <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Join our Discord channel!</p>
          <p class="mt-6 text-lg leading-8 primary-color-text">
            Join our Discord channel to chat with other robot enthusiasts, ask questions, and share your projects. We can't wait to meet you!
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="https://discord.gg/rQWPPPNMmZ" target="_blank" class="relative inline-flex items-center gap-x-1.5 rounded-md accent-color px-3 py-2 text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Join in<span aria-hidden="true">→</span></a>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
